# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Logs
*.log
